@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body {
    background: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.principal {
    background: hsl(217, 20%, 13%);
    width: 25%;
    height: 50%;
    padding: 20px;
    border-radius: 25px;
}

h1 {
    width: 30px;
    border-radius: 50%;
    background: hsl(213, 19%, 18%);
    text-align: center;
    padding: 5px;
}

h2 {
    color: hsl(0, 0%, 100%);
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}

.inputsNotas {
    display: flex;
    justify-content: space-around;   
}

.nota {
    width: 30px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    padding-left: 15px;
    font-weight: bold;
    background: hsl(213, 19%, 18%);
    color: hsl(216, 12%, 54%);
    border: none;
}

.nota:hover {
    background: hsl(256, 48%, 42%);
    cursor: auto;
}

.nota:focus {
    background: hsl(256, 48%, 42%);
    outline: none;
    transform: scale(1.1)
}

.enviar {
    width: 100%;
    padding: 12px;
    text-transform: uppercase;
    background: hsl(25, 97%, 53%);
    border: none;
    border-radius: 20px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-weight: 700;
    margin-top: 20px;
}

.agradecimento {
    background: hsl(217, 20%, 13%);
    width: 25%;
    height: 50%;
    padding: 20px;
    border-radius: 25px;
    display: none;
}

footer {
    font-size: 13px;
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 90%;
}

footer a {
    text-decoration: none;
    color: aqua;
}

@media screen and (max-width: 1414px){
    .principal {
        width: 40%;
    }
}

@media screen and (max-width: 800px){
    .principal, .agradecimento {
        width: 50%;
    }
}

@media screen  and (max-width: 600px){
    .principal, .agradecimento {
        width: 60%;
    }
}

@media screen  and (max-width: 450px){
    .principal, .agradecimento {
        width: 70%;
    }
}